name: Deploy Site

on:
  push:

permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Run Build Site
        run: |
          cd site
          npm install
          npm run build
      - name: Deploy for GitHub
        uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: site/build
          single-commit: true
          clean: true